<div class="container">

  <h1>About Us</h1>
  <br>
  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qui quia non numquam eius modi tempora
    incidunt ut labore et dolore magnam aliquam quaerat Nemo enim ipsam voluptatem. Asihte ento cumitala
    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
    nisi ut aliquid ex ea commodi consequatur? Quis autem isi ut aliquid ex ea commodi conse.
    Voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
    esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
  </p>
  <p-divider type="solid" />
  <p>
    Voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
    esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    Asi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. Cubrema ut perspiciatis unde omnis iste
    natus error sit voluptatem accusantium ipsam voluptatem. Asihte ento cumitala isi ut aliquid ex ea commodi consequa.
  </p>
  <p-divider type="solid" />
  <p>
    Asi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. Cubrema ut perspiciatis unde omnis iste
    natus error sit voluptatem accusantium ipsam voluptatem. Asihte ento cumitala isi ut aliquid ex ea commodi consequa.
    Henabira architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. Cubrema ut perspiciatis unde omnis iste
    natus error sit voluptatem accusantium ipsam voluptatem. Asihte ento cumitala isi ut aliquid ex ea commodi consequa.
  </p><br>

  <div class="image">
    <img src="assets/images/pikachu.png" alt="" class="logo" />
  </div>

</div>

