

app-dashboard {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wrapper {
  height: auto;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}
